img{
    width: 10rem;
    height: 10rem;
}
#head{
    display: flex;
    gap: 1rem;
}
#head h4{
    padding: 1rem;
    background: whitesmoke;
    border: .1rem solid black;
}
#home, #about, #news{
    display: none;
}


#taskRunning{
    margin: 0 2rem;
}
#taskCompleted{
    margin: 0 2rem;
    display: none;
}
#progressBg{
    margin: .5rem 2rem;
    background: lightgreen;
    border-radius: 5rem;
    width: 15rem;
    height: 0.5rem;
position: relative;
}
#progress{
    background: green;
    border-radius: 5rem;
    width: 0%;
    height: 0.5rem;
    position: absolute;
    transition: width 0.2s ease;
}