@font-face {
    font-family: open;
    src: url(/font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: open;
}
html, body{
    height: 100%;
    width: 100%;
}

/* navigation bar */
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 45px 65px;
    font-weight: 600;
    font-size: 25px;
}
#nav-part1{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
#nav-part2{
    display: flex;
    justify-content: space-between;
    width: 35%;
}
